/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
}

.contenu{ margin: 10px 0px;}

.navbar-default{padding:15px; background-color:slategrey;}

.navbar-brand { color:white !important;font-family: "Lucida Bright", Georgia, serif; font-size: 22px; }

.navbar-default .navbar-nav li a { color: white !important; }

p.copyright {
    margin: 15px 0 0;
}

.menu-right ol{
    list-style: none;
    margin: 0px;
    padding:5px 0px 20px 0px;
}

.alert-info {
    width: 50%;
    margin: auto;
}


.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 250px;
}

.intro-message {
    position: relative;
    padding-top: 30px;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


.words{
    padding:10px 0px 10px 0px
}

.words ul{
    list-style: none;
    padding:0px;
    margin: 0px;
}

.words .more { font-size: 10px !important; }

.words ul li {

    margin-bottom: 30px;
}

.words ul li h2, ul.word  li  h2, menu-right h2 {
    border-bottom: 2px solid #cccccc;
    padding: 3px 0px;
    margin: 0px;
}


ul.word {
    list-style: none;
}

 ul.word  li  ol{
    margin: 0px 0px 20px 0px;
}

 ul.definitions li{
     margin: 0px;
     padding: 5px 0px 0px 0px;
     text-align: justify;
 }

.navbar .divider-vertical {
    height: 40px;
    margin: 0 29px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

.navbar-fixed-bottom ul li { margin: 0px 10px; }

.pagination-orientation { text-align:center;}