<li class="words">

    <h2><a href="{{ url_for('word.word', term=word.word) }}">{{ word.word }}</a></h2>

    <h3>Definitions</h3>
    <ol class="definitions">

        {% for text in texts|rejectattr('type', "equalto", 2)|list %}

            <li>
                <div class="row row-word" style="border-right: 15px solid #{{ text.language.color }}">
                    <div class="col-md-1">
                        <ul class="rating">
                            <li><a href="{{ url_for("word.word", term=word.word, text_id=text.id, action="like") }}"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></li>
                            <li>{{ text.ratings|sum(attribute='rating') }}</li>
                            <li><a href="{{ url_for("word.word", term=word.word, text_id=text.id, action="dislike") }}"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>

                    <div class="col-md-11">
                        <p class="text_word">{{ text.text }}</p>

                        {% if text.sons != None %}
                            <ol class="examples">
                                {% for example in text.sons %}
                                    <li><i>{{ example.text }}</i></li>
                                {% endfor %}
                            </ol>
                        {% endif %}

                        <div class="more">
                            <span>by {{ text.lexicographer.username }}, {{ text.timestamp.strftime('%d-%m-%Y') }}</span>

                            <span><a href="{{ url_for("dictionary.language", language=text.language.name) }}">#{{ text.language.name }}</a></span>

                            {% for tag in text.tags %}
                                <span><a href="{{ url_for("dictionary.tag", tag=tag.tag) }}">#{{ tag.tag }}</a></span>
                            {% endfor %}


                        </div>
                    </div>

                </div>

                {% if text.relations != None %}
                    <ul class="related-words">
                        <li>Related words:</li>
                        {% for relation in text.relations %}
                            <li style="border-right: 10px solid #{{ relation.relations_from.language.color }};">
                                <a href="{{ url_for("word.word", term=relation.relations_from.word.word) }}">
                                    {{ relation.relations_from.word.word }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>



        {% endfor %}
    </ol>

    {% if word.created_by_id == current_user.id %}
        <p><a href="{{ url_for('word.delete_word', word=word.word) }}">Delete</a></p>
    {% endif %}
</li>