{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    | Add related word
{% endblock %}

{% block metatags %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" CONTENT="Let's go fella, write that shit down">
    <meta name="robots" content="index,follow">

{% endblock %}

{% block body %}
    <div class="container">

        <h1>Add related word to <i>{{ word.word }}</i></h1>
        <br/>

        <form method="POST" class="formrelatedwords" >
            {{ form.hidden_tag() }}
            <div>{{ form.words.label }}: {{ form.words(class="css_class") }}</div>

            <p>&nbsp;</p>
            <div class="btn-toolbar" role="group" aria-label="Actions">
                <div class="btn-group" role="group" aria-label="...">{{ form.submit(class="btn btn-primary") }}</div>
                <div class="btn-group" role="group" aria-label="...">
                    <a href="{{ url_for("word.word", term=word.word) }}">Return to {{ word.word }}</a></div>
            </div>
        </form>

        {% for field in form if field.widget.input_type != 'hidden' %}
            {% if field.errors %}
                <span style="color: red;">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br />{% endif %}{% endfor %}</span>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}