<!-- app/templates/home/index.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}
    | {{ word.word }}
{% endblock %}

{% block metatags %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" CONTENT="{{ word.texts.first().text }}">
    <meta name="robots" content="index,follow">

    <meta property="og:title" content="Dialleto | {{ word.word }}" />
    <meta property="og:description" content="{{ word.texts.first().text }}. See more definitions" />

{% endblock %}
{% block body %}


    <div class="container">
        <br>
        {{ utils.flashed_messages() }}
        <ul class="word">
            {% include '/word/_word.html' %}
        </ul>

        {% if onlyText %}
            <a href="{{ url_for("word.word", term=word.word) }}">See all definitions</a>
        {% endif %}
    </div>

{% endblock %}