
{% if words != None %}
    <div class="words">
        <ul>
            {% for word in words %}
                <li>
                    <h2><a href="{{ url_for('dictionary.word', term=word.word) }}">{{ word.word }}</a></h2>

                    <ul class="definitions">
                        <li>{{ word.text }}

                            <div class="more">
                                <span>by {{ word.username }},</span>
                                <span >{{ word.timestamp.strftime('%d-%m-%Y') }}</span>
                                <span>#{{ word.name }}</span>
                                {% if word.created_by_id == current_user.id %}
                                    | <a href="{{ url_for('dictionary.delete_word', word=word.word) }}">Delete</a>
                                {% endif %}
                                | <a href="{{ url_for('dictionary.word', term=word.word) }}">More details</a>
                            </div>

                        </li>
                    </ul>

                </li>
            {% endfor %}
        </ul>
    </div>
    {% if pagination is defined %}
        <nav aria-label="Page navigation" class="pagination-orientation">
            <ul class="pagination">

                {% if pagination.has_prev %}
                    <li class="previous"><a href="{{ url_for('dictionary.search', term=term, page=pagination.prev_num) }}">&larr; Previous</a></li>
                {% else %}
                    <li class="previous disabled"><a href="#">&larr; Previous</a></li>
                {% endif %}

                {% if pagination.has_next %}
                    <li class="next"><a href="{{ url_for('dictionary.search', term=term, page=pagination.next_num) }}">Next &rarr;</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">Next &rarr;</a></li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}

{% else %}
    No words found
{% endif %}
