<li>
    <h2><a href="{{ url_for('dictionary.word', term=word.word) }}">{{ word.word }}</a></h2>

    <h3>Definitions</h3>
    <ol class="definitions">
        {% for text in word.texts %}

                {% if text.type.name == "Definition" %}
                    <li>
                        <p>{{ text.text }}</p>


                        <span><a href="{{ url_for("dictionary.language", language=text.language.name) }}">#{{ text.language.name }}</a></span>

                        {% for tag in text.tags %}
                            <span><a href="{{ url_for("dictionary.tag", tag=tag.tag) }}">#{{ tag.tag }}</a></span>
                        {% endfor %}

                        {% if text.sons != None %}
                        <ol class="examples">
                            {% for example in text.sons %}
                                <li><i>{{ example.text }}</i></li>
                            {% endfor %}
                        </ol>
    {% endif %}
                        <p><strong>by: {{ text.lexicographer.username }}, {{ text.timestamp.strftime('%d-%m-%Y') }}</strong></p>
                    </li>
                {% endif %}

        {% endfor %}
    </ol>

    {% if word.created_by_id == current_user.id %}
        <p><a href="{{ url_for('dictionary.delete_word', word=word.word) }}">Delete</a></p>
    {% endif %}
</li>