<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Dialleto</h1>
                    <h3>A multilingual dictionary of slang and regionalisms!</h3>
                    <hr class="intro-divider">
                    <p>{{ word.word}}: {{ word.texts.first().text }} </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="words">
        {% if words != None %}
            <ul>
                {% for word in words %}
                    <li>
                        <h2><a href="{{ url_for('dictionary.word', term=word.word) }}">{{ word.word }}</a></h2>
                        <div class="language"> {{ word.name }} - {{ word.code }}</div>

                        <ul class="definitions">
                            <li>{{ word.text }}</li>
                        </ul>


                        <div class="btn btn-group btn-group-sm" role="group" >
                            <span >{{ word.timestamp.strftime('%d-%m-%Y %H:%M%:%S') }}</span> &nbsp;
                            <a href="{{ url_for('dictionary.word', term=word.word) }}">More details</a>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No words found
        {% endif %}
    </div>

</div>
{% endblock %}