<!-- app/templates/home/index.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Dialleto</h1>
                    <hr class="intro-divider"><h3>A multilingual dictionary of slang and regionalisms!</h3>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <br/>
    {{ utils.flashed_messages() }}

    <div class="row">
        <div class="col-md-8">
            {% include '/dictionary/_words.html' %}
        </div>
        <div class="col-md-4 menu-right">
            <h2>Languages</h2>
            <ol>
                {% for language in languages %}
                    <li><a href="{{ url_for("dictionary.language", language=language.name) }}">#{{ language.name }}</a></li>
                {% endfor %}
            </ol>

            <h2>Categories</h2>
            <ol>
                {% for tag in tags %}
                    <li><a href="{{ url_for("dictionary.tag", tag=tag.tag) }}">#{{ tag.tag }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>

</div>
{% endblock %}