<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Dialleto</h1>
                    <h3>A multilingual dictionary of slang and regionalisms!</h3>
                    <hr class="intro-divider">
                    <p>{{ word.word}}: {{ word.texts.first().text }} </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    {% include '/dictionary/_words.html' %}
</div>
{% endblock %}