{% extends "base.html" %}

{% block title %}
    | Language: {{ language.name }}
{% endblock %}

{% block metatags %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" CONTENT="A multilingual dictionary of slang and regionalisms! Get that slang that your immigrant friend are using, or just surprise your grandma with some new fancy words.">
    <meta name="robots" content="index,follow">

{% endblock %}

{% block body %}

    <div class="container">
        <h1>#{{ language.name }}</h1>
        {% include '/dictionary/_words.html' %}
    </div>

{% endblock %}