{% extends "base.html" %}

{% block title %}
    | Search
{% endblock %}

{% block metatags %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" CONTENT="Find out what kids are saying these days, or maybe the hot immigrant you wanna hang out with.">
    <meta name="robots" content="index,follow">

{% endblock %}

{% block body %}

    <div class="container">
        <h1>Search Result</h1>
        {% include '/dictionary/_words.html' %}
    </div>

{% endblock %}