<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Dialleto</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>

<div class="contenu">

    {% block body %}
    {% endblock %}

    <p>&nbsp;</p><p>&nbsp;</p>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">

    <div class="container topnav">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="{{ url_for('dictionary.index') }}">Dialleto</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ url_for('word.add_word') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
                <li><a href="{{ url_for('dictionary.random') }}"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></a></li>
            </ul>

            <form class="navbar-form navbar-left" action="{{ url_for('dictionary.search') }}" method="post" name="search">
                <div class="form-group">
                    {{ g.search_form.hidden_tag() }}
                    {{ g.search_form.word(size=20, class="form-control") }}
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a><i class="fa fa-user"></i> {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>